<h2>{{ dataHandler.label }} data handler</h2>
<p class="text-small"><a href="#!/devices/{{ device.id }}"> < {{ device.label }} ({{ device.id }})</a></p>

<h3>Details</h3>
<table class="text-left">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr ng-repeat="(key, value) in excludeLabelFilter(dataHandler) ">
    <td>{{ key }}</td>
    <td><pre>{{ value | json }}</pre></td>
  </tr>
</table>

<div ng-if="historyAvailable">
  <h3>History</h3>
  <div class="row small-up-2 medium-up-3">
    <div class="column" ng-repeat="sensor in dataHandler.sensors">
      <div class="card">
        <div class="card-divider">
          {{ sensor }}
        </div>
      </div>
    </div>
  </div>
  <input type="number" ng-model="dataFrom[0]" ng-change="updateChart()">
  <label for="singleSelect"> Single select: </label><br>
  <select name="dataFromUnit" ng-model="dataFrom[1]" ng-change="updateChart()">
    <option value="s">Seconds ago</option>
    <option value="m">Minutes ago</option>
    <option value="h">Hours ago</option>
    <option value="d">Days ago</option>
    <option value="M">Months ago</option>
    <option value="Y">Years ago</option>
  </select><br>
  <!-- <input type="date" ng-model="minChartDate" ng-change="updateChart">
  {{ minChartDate }} -->
  <canvas id="line" class="chart chart-line" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series" chart-options="chart.options"></canvas>
  <!-- <table class="text-left">
    <tr>
      <th>Time</th>
      <th>Value</th>
    </tr>
    <tr ng-repeat="datum in history">
      <td>{{ datum.time | date : "medium" }}</td>
      <td>{{ datum.sensors[ chart.sensor ].value }}<span ng-bind-html="datum.sensors[chart.sensor].unit | trusted"></span></td>
    </tr>
  </table> -->
</div>

<!-- <h3>Details</h3>
<table class="text-left">
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Mode</td>
    <td>{{ device.mode }}</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>{{ device.type }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{ device.status }}</td>
  </tr>
</table> -->
