<!doctype html>

<html lang="en" ng-app="BranchAdminApp">
  <head>
    <meta charset="utf-8">
    <title>Device: branch</title>
    <meta name="description" content="Device: branch">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/style.css?v=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <script src="../scripts/moment.js"></script>
    <script src="../scripts/chart.js"></script>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/angular-route.min.js"></script>
    <script src="../scripts/angular-chart.js"></script>
    <script src="../scripts/ng-admin.js"></script>
  </head>

  <body>
    <div class="container">
      <div ng-view></div>

    </div>
    <script src="../scripts/vendor/jquery.js"></script>
    <script src="../scripts/vendor/what-input.js"></script>
    <script src="../scripts/vendor/foundation.js"></script>
    <script src="../scripts/admin.js"></script>
  </body>
</html>
