<!doctype html>

<html lang="en" ng-app="BranchAdminApp">
  <head>
    <meta charset="utf-8">

    <title>Device: branch</title>
    <meta name="description" content="Device: branch">
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/style.css?v=1.0">
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/ng-admin.js"></script>


  </head>

  <body ng-controller="DevicesController">
    <div class="container">
      <p> There {{ devices.length == 1 ? 'is' : 'are' }} {{ devices.length }} device{{ devices.length == 1 ? '' : 's' }} registered </p>
      <div class="row small-up-2 medium-up-3">
        <div class="column" ng-repeat="device in devices">
          <div class="card">
            <div class="card-divider">
              <h2>{{ device.id }} <span class="text-small">{{ device.ip }}:{{ device.port }}</span></h2>
            </div>
            <ul>
              <li ng-repeat="(key, value) in device.data">
                <span>{{ key }}: {{ key == 'time' ? (value|date:'medium') : value }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <script src="../scripts/vendor/jquery.js"></script>
    <script src="../scripts/vendor/what-input.js"></script>
    <script src="../scripts/vendor/foundation.js"></script>
    <script src="../scripts/admin.js"></script>
  </body>
</html>
