h2 {
  font-size: 2rem;
  line-height: 1.2em;
}

.container {
  padding: 0 10px;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1140px;
  }
}

.row {
  max-width: none;
  margin-left: -.9375rem;
  margin-right: -.9375rem;
}

.center-line {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  vertical-align: middle;
}
.center-line i {
  font-size: 30px;
  vertical-align: middle;
}
.center-line:before,
.center-line:after  {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  margin-top: -3px;
}
.center-line:before {
  right: .625rem;
  margin-left: -50%;
}
.center-line:after {
  left: .625rem;
  margin-right: -50%;
}

.text-small {
  font-size: 0.8rem;
}
